<div class="card" style="width: 18rem;">
  <% path = asset_path(@unit.image_path) %>
  <%= image_tag("#{path}", :alt => "rss feed") %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>