<a href="<%=unit_path(unit)%>">
<div id="unit_card" class="card">
  <% path = unit.image_path %>
  <%= image_tag("#{path}", :alt => "#{unit.title}", size: 200) %>
  <div class="card-body">
    <h5 class="card-title"><%= unit.title%></h5>
  </div>
</div>
</a>