<div id="pseudo-root" data-first="yes" data-current-unit="">
</div>

<script>
const pseudoRoot = document.getElementById('pseudo-root')
const currentUnit = pseudoRoot.getAttribute('data-current-unit')


let unitId = (currentUnit === "" ? Number(window.location.pathname.split("/units/")[1]) : currentUnit) 


function getCreateAndRenderUnit() {
  //get data for the specified unit using the global variable unitId
  fetch(`${unitId}/first_call`)
    .then(function(response) { //convert response to JSON
      return response.json();
    })
    .then(function(unitData){  //create unit object to satisfy show req
      const unit = new Unit(unitData.id, unitData.title, unitData.image_path)
      return unit
    })  //use object prototype function to return template with data in it 
    .then(function(unit) {
      const baseTemplate = unit.baseTemplate()
      $(pseudoRoot).html(baseTemplate) //append data to DOM
    })
}

function getAndCreateTopics() {
  fetch(`${unitId}/topics`)
}
  


getCreateAndRenderUnit()


function addClickListeners(evt) {
 $("li").each(function() {
   $(this).click(()=>{
     $('li').removeClass("active");
     $(this).addClass('active');
   });
});
}


class Unit {
  constructor(id, title, image) {
    this.id = id;
    this.title = title;
    this.imageName = image;
  }
  baseTemplate() {
    return (`
    <img src=/assets/${this.imageName}>
  <h1>${this.title}</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
    <ul id="topics_container" class="list-group">
    </ul>
    </div>
    <div id="tip_holder" class="col-md-8 card">
      <div class="place_for_tips">
      </div>
    </div>
  </div>`
  )
  }  
  
}

class Topic {
  constructor(id, title, image, topics) {
    this.id = id;
    this.title = title;
    this.topics = topics;
    this.imageName = image;
  }
  formatTopicTitles() {
    const topicTitle = []
    this.topics.forEach((top) => {
      const title =`<li topic-id="${top.id}" class="list-group-item">${top.title}</li>` 
      topicTitle.push(title)
    });
    return topicTitle.join('')
  }
}


</script>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
    div#tip_holder {border: 1px solid rgba(0, 0, 0, 0.125);
                    padding: 0;}

    

  
</style>