<div id="pseudo-root">
</div>

<script>
const pseudoRoot = $('#pseudo-root');
let unitId = Number(window.location.pathname.split("/units/")[1]);
let topicList = [];

function getCreateAndRenderUnit() {
  //get data for the specified unit using the global variable unitId
  fetch(`${unitId}/first_call`)
    .then(function(unitData) { //convert response to JSON
      return unitData.json();
    })
    .then(function(unitData){  //create unit object to satisfy show req
      const unit = new Unit(unitData);
      const baseTemplate = unit.baseTemplate();
      $(pseudoRoot).html(baseTemplate); //append data to DOM
    })
    .then(function() {
      $('#next-unit').click(loadNextUnit);
      $('#prev-unit').click(loadPrevUnit);
    })
}
      const loadNextUnit = () => {
        unitId === 14 ? unitId=1 : unitId++
        topicList = [];
        showUnitAndTopics();
      }

      const loadPrevUnit = () => {
        unitId === 1 ? unitId=14 : unitId--
        topicList = [];
        showUnitAndTopics();
      }


function getAndCreateTopics() {
  fetch(`${unitId}/topics`)
    .then(function(topicsData){
      return topicsData.json();
    })
    .then(function(topicsData) {
      let topicTitleString = ''
      topicsData.forEach((topicData) => {
        const topic = new Topic(topicData);
        topicList.push(topic)
        topicTitle = topic.formatTopicTitle();
        topicTitleString += topicTitle;
      });
      $("#topics_container").html(topicTitleString);
    })
    .then(function() {
        $("li").each(function() {
          $(this).click(()=>{
          $('li').removeClass("active");
          $(this).addClass('active');
          });
          $(this).click(createAndLoadTips);
        });
    })
}

function createAndLoadTips() {
  let topicId = this.getAttribute('topic-id')
  const selectedTopic = topicList.filter( t => t.id == topicId
  )[0];
  $(".place_for_tips").empty()
  selectedTopic.tips.forEach((tipData)=>{
    tip = new Tip(tipData)
    $(".place_for_tips").append(tip.formatTip()); 
  })
}


async function showUnitAndTopics() {
 let promise = new Promise((resolve, reject) => {
    resolve(getCreateAndRenderUnit())
    reject(console.log('You shit the bed again!'))
 });
 await promise;
 getAndCreateTopics()
}

//What runs on page load
$(document).ready(function() {
  showUnitAndTopics();
})

 

//For each load of a new unit the topics array needs to be reset and the unitId needs to be set before the functions are called.


class Unit {
  constructor(arg) {
    this.id = arg.id;
    this.title = arg.title;
    this.imageName = arg.image_path;
  }
  baseTemplate() {
    return (`
      <img src=/assets/${this.imageName}>
      <h1>${this.title}</h1><br>
      <button id='prev-unit'>Previous Unit</button>
      <button id='next-unit'>Next Unit</button>
      <div class="row">
        <div class="col-md-4">
          <ul id="topics_container" class="list-group">
          </ul>
        </div>
        <div id="tip_holder" class="col-md-8 card">
          <div class="place_for_tips">
          </div>
        </div>
      </div>`
  )
  }   
}

class Topic {
  constructor(arg) {
    this.id = arg.id;
    this.title = arg.title;
    this.courseOrder = arg.course_order;
    this.tips = arg.tips
  }
  formatTopicTitle() {
      return `<li topic-id="${this.id}" class="list-group-item">${this.title}<i class="fa fa-plus-circle fa-lg"></i></li>` 
  }
}

class Tip {
  constructor(arg) {
    this.id = arg.id;
    this.title = arg.title;
    this.link = arg.link;
    this.resource_type = arg.resource_type;
    this.time_requirement = arg.time_requirement;
  }
  formatTip(){
    return `<div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>${this.title}</h5>
        <p>${this.link}</p>
        <p>${this.resource_type}</p>
        <p>${this.time_requirement}</p>
      </div>
    </div>`
  }
}



</script>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
    div#tip_holder {border: 1px solid rgba(0, 0, 0, 0.125);
                    padding: 0;}

    i{
      position: relative;
      float: right;
    }

  
</style>