<div id="pseudo-root" data-used="no">
</div>

<script>
const createUnitWithTopics = (data) => {
  const unit = new Unit(data.id, data.title, data.image, data.topics)
  $('#pseudo-root').append(unit.startTemplate())
}
  
class Unit {
  constructor(id, title, image, topics) {
    this.id = id;
    this.title = title;
    this.topics = topics;
    this.imageName = image;
  }
  startTemplate() {
    return (`<h1>${this.title}</h1>
  <br id="middle">
  <div class="row">
    <div class="col-md-4">
    <ul id="topics_container" class="list-group">
      ${this.formatTopicTitles()}
    </ul>
    </div>
    <div id="tip_holder" class="col-md-8 card">
      <div class="place_for_tips">
      </div>
    </div>
  </div>`
  )
  }  
  formatTopicTitles() {
    const topicTitle = []
    this.topics.forEach((top) => {
      const title =`<li topic-id="${top.id}" class="list-group-item">${top.title}</li>` 
      topicTitle.push(title)
    });
    return topicTitle.join('')
  }
}


class Topic {
  constructor(item) {
    this.id = item.id;
    this.title = item.title;
    this.courseOrder = item.course_order;
    this.tips = this.convertTips(item)
    this.formatTopic = this.formatTopic.bind(this)
  }
  formatTopic() {
    const bullet = document.createElement('li');
    bullet.className = "list-group-item"
    bullet.innerHTML = this.title;
    bullet.setAttribute('data-topic', this.id) 
    return bullet;
  }
  convertTips(item) {
    const tipArray = []
    item.tips.forEach((ti) => {
    const tip = new Tip(ti)
    tipArray.push(tip)
  })
  return tipArray
}

}
class Tip {
  constructor(jsonTip) {
    this.id = jsonTip.id;
    this.title = jsonTip.title;
    this.link = jsonTip.link;
    this.resource_type = jsonTip.resource_type;
    this.time_requirement = jsonTip.time_requirement;
    this.formatTip = this.formatTip.bind(this);
  }
  formatTip(){
    return `<div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>${this.title}</h5>
        <p>${this.link}</p>
        <p>${this.resource_type}</p>
        <p>${this.time_requirement}</p> 
      </div>
    </div>`
  }
}




</script>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
    div#tip_holder {border: 1px solid rgba(0, 0, 0, 0.125);
                    padding: 0;}

    

  
</style>