
<%= image_tag("#{@unit.image_path}", :alt => "#{@unit.title}") %><br>
<h1><%=@unit.title%></h1>
<div class="row">
  <div class="col-md-4">
  <ul class="list-group">
  <%@unit.topics.each do |topic|%>
    <li onclick="getTopicTips(this)" class="list-group-item" data-identifier-type="<%=topic.id%>"><%=topic.title%></li>
  <%end %>
  </ul>
  </div>


  <div class="col-md-8">
  <ul class="place_for_tips">
  </ul>
  </div>
</div>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
  
</style>
<script>
function getTopicTips(topic) {
  $('.place_for_tips').empty();
  var topicID = topic.getAttribute("data-identifier-type");
  link = '/topics/'+topicID+'/tips'
  $.getJSON(link,'',processTips);
  function processTips(data) {
  // create variable with empty string
  var infoHTML='';
  //loop through each object in the JSON data
  $.each(data,function(tips, tip) {
  infoHTML+='<li>Title: ' + tip.title + '</li>';
  
  }); // end of each()
  // add finished HTML to page
  $('.place_for_tips').append(infoHTML);
  }
}
</script>

