<div id="pseudo-root">
</div>

<script>
const pseudoRoot = document.getElementById('pseudo-root')
const currentUnit = pseudoRoot.getAttribute('data-current-unit')
let unitId = Number(window.location.pathname.split("/units/")[1]);


function getCreateAndRenderUnit() {
  //get data for the specified unit using the global variable unitId
  fetch(`${unitId}/first_call`)
    .then(function(unitData) { //convert response to JSON
      return unitData.json();
    })
    .then(function(unitData){  //create unit object to satisfy show req
      const unit = new Unit(unitData)
      return unit
    })  //use object prototype function to return template with data in it 
    .then(function(unit) {
      const baseTemplate = unit.baseTemplate()
      $(pseudoRoot).html(baseTemplate) //append data to DOM
    })
    .then(getAndCreateTopics)  // I don't like that I have two separate setups but then cheat by pushing this to the end of the line to ensure execution order.  
}

function getAndCreateTopics() {
  fetch(`${unitId}/topics`)
    .then(function(topicsData){
      return topicsData.json();
    })
    .then(function(topicsData) {
      let topicTitleString = ''
      topicsData.forEach((topicData) => {
        const topic = new Topic(topicData);
        topicTitle = topic.formatTopicTitle();
        topicTitleString += topicTitle;
      });
      $("#topics_container").html(topicTitleString);
    })
    .then(function() {
        $("li").each(function() {
          $(this).click(()=>{
          $('li').removeClass("active");
          $(this).addClass('active');
          });
        });
    })
}



getCreateAndRenderUnit()



class Unit {
  constructor(arg) {
    this.id = arg.id;
    this.title = arg.title;
    this.imageName = arg.image_path;
  }
  baseTemplate() {
    return (`
    <img src=/assets/${this.imageName}>
  <h1>${this.title}</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
    <ul id="topics_container" class="list-group">
    </ul>
    </div>
    <div id="tip_holder" class="col-md-8 card">
      <div class="place_for_tips">
      </div>
    </div>
  </div>`
  )
  }  
  
}

class Topic {
  constructor(arg) {
    this.id = arg.id;
    this.title = arg.title;
    this.courseOrder = arg.course_order;
    this.tips = arg.tips
  }
  formatTopicTitle() {
      return `<li topic-id="${this.id}" class="list-group-item">${this.title}</li>` 
  }
}


</script>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
    div#tip_holder {border: 1px solid rgba(0, 0, 0, 0.125);
                    padding: 0;}

    

  
</style>