
<%= image_tag("#{@unit.image_path}", :alt => "#{@unit.title}") %><br>
<h1 data-unit_id="<%=@unit.id%>"><%=@unit.title%></h1>
<div class="row">
  <div class="col-md-4">
  <ul id="topics_container" class="list-group">
  </ul>
  </div>


  <div id="tip_holder" class="col-md-8 card">
    <div class="place_for_tips">
    </div>
  </div>
</div>



<script>
class Topic {
  constructor(id, title, courseOrder) {
    this.id = id;
    this.title = title;
    this.courseOrder = courseOrder;
  }
  addBull(instance){
  return `<li>${instance.title}</li>`
  }
}

function showTopics(data) {
const topicList = [];
data.forEach((item, index) => {
  const topic = new Topic(item.id, item.title, item.courseOrder)
  const bullet = topic.addBull(topic);
  $("#topics_container").append(bullet)
});

}

$(document).ready(function(){
  let unitId = $("h1").attr("data-unit_id")
  $.getJSON(`${unitId}/topics`,"", showTopics);
  
});

</script>

<style>
   
    img{ 
        display: block;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        max-width: 150px;
    }
    div#tip_holder {border: 1px solid rgba(0, 0, 0, 0.125);
                    padding: 0;}

    

  
</style>