/* Navbar */

.navbar {
    background-color: #013240;
    color: white;

}
/*This is the effect that underlines items in the hover on the expanded menu */
@media (min-width: 768px) { 
  .nav-item::after{content:'';display:block;width:0px;height:2px;background:#00b3e6;transition: 0.5s;}
  .nav-item:hover::after{width:95%;}
  .nav-item .nav-link:hover{color:#00b3e6;}
  .nav-link{transition:0.2s;}
  .nav-link { 
    margin-bottom: -0.5em;
  }

  div.dropdown button{
  
    color: white;
    background-color: #013240;
    border: 0;
  
    &:hover {
      color: #00b3e6;
      text-decoration: none;
 
    }
  }

  #home_icon{padding-left: 1em;
    color: white;
    
    &:hover {
      color: #00b3e6;
      text-decoration: none;
 
    }}
  #big_nav_icons{ display:block;}
  #small_nav_text{ display:none;}

  /*Getting dropdown to display correctly */
  #nav_dropdown_marker::after { /*kills caret*/
    display:none;
}
  /*Dropdown links only work when using button - styling button */
  

}
@media (max-width: 767px) {
  #big_nav_icons{ display:none;}
  #small_nav_text{ display:block;
  text-align: left;}
}

hr.thin {
height: 1px;
line-height: 5px;
margin: 0px;
padding: 0;
border: 0;
color: whitesmoke;
background-color: whitesmoke;
width: 100%;
} 

 

#slash {
  color: #00b3e6;
  font-size: 1.5em;
  margin-right: 3px;
  line-height: 90%;
}

#logo {
  float: left;
  margin-right: 1em;
  font-size: 1.4em;
  line-height: 1em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #00b3e6;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer #bottom_row {
  background-color: #d6d7d9;
}
footer nav{
  height: 2em;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  text-align: center;
  
}

footer div.row nav ul {
  float: right;
  list-style: none;
}

footer div.row nav ul a {
  font-size: 0.75em;
}
footer ul li {
  float: left;
  margin-left: 15px;
}

/* universal */

body { padding-top: 55px;}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

  /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* Debug Dump */


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}