<div id="big_nav_icons">
      <%= link_to "", signup_path,  id: "home_icon", class: "fa fa-user-plus fa-lg" %>
      <%= link_to "", login_path,  id: "sign_in", class: "fa fa-sign-in fa-lg" %>
</div> 
<div id="small_nav_text">
      <hr class="thin">
      <div class=navbar-nav mr-auto>
      <div class="nav-item">
      <%= link_to "Sign Up", signup_path,  id: "home_icon", class: "nav-link" %>
      </div>
      <div class="nav-item">
      <%= link_to "Sign In", login_path,  id: "sign_in", class: "nav-link" %>
      </div>
</div>
